<footer>

    <div class="container">
    <div class="row">

        <a href="https://www.facebook.com/irem.komurcu.583"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
        <a href="https://twitter.com/iremkomurcu"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
        <a href="https://www.instagram.com/iremkomurcubm/"><i id="social-ins" class="fa fa-instagram fa-3x social"></i></a>
        <a href="https://www.linkedin.com/in/iremkomurcu/"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
        <a href="https://github.com/irem-komurcu"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>

        <a href="mailto:iremkomurcubm@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>


          <p>Tüm Hakları Saklıdır © 2018 İrem KÖMÜRCÜ</p>
    </div>
    </div>
</footer>