{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="thumbnail">
              <div class="caption">
                  {% if post.image %}
                    <img src="{{ post.image.url }}"class="img-responsive">
                  {% endif %}
                <h3>{{ post.title }}<small> - {{ post.publishing_date }}</small></h3>
                <p>{{ post.content}}</p>
                <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">Detail</a>
                   <a href="{{ post.get_update_url }}" class="btn btn-default" role="button">Update</a>
                   <a href="{{ post.get_delete_url }}" class="btn btn-danger" role="button">Delete</a>
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>

{% endblock %}